<div class="mui-row">
      <div class="mui-panel">
          <p class="mui-text-center">
              <img class="center" src="img/logo_head.png" alt="DoJugaad"/>
          </p>
          <br/>
          <p class="description mui-text-justify">
              At DoJugaad we intend to unite all the jugaad and jugaadu people of the world
              at one place and share their awesome ability of jugaad with others. We heartily welcome
              problems, jugaadu ideas and jugaads of all sorts - from paintings to accessories, from technology
              and science to some random day-to-day problem.In short, we aim at making this world an easier place
              to live. We aim, to find a jugaad for every problem, together.
          </p>
      </div>
</div>

<!-- Space -->
<div class="mui-row" class="bottom_space">
&nbsp;
</div>


<div class="mui-row">
    <div class="mui-panel">

        <div class="block1 mui-text-left">
            <strong class="qa" style="font-size: 24px;">Have a problem ?</strong>
            <p class="a1">Share</p>
            <p class="mui-text-justify description">
                Problems that you share on DoJugaad, are made open for numerous jugaadu people out there.
                They brainstorm on the problem, suggest ideas, make improvements to the ideas and finally
                come up with an optimal solution. From there, we take over to make a product of that optimal
                idea.
            </p>
        </div>

        <div class="mui-divider"style="margin: 20px 0;"></div>

        <div class="block2 mui-text-right">
            <strong class="qa" style="font-size: 24px;">Have an idea ?</strong>
            <p class="a2">Let us know</p>
            <p class="mui-text-justify description">
                We, as mentioned above, bring your ideas to life so that they are no longer confined to the
                walls of your brain. Nor they are limited by any constraints. In short you need not worry about
                how to make a product of it.
            </p>
        </div>

        <div class="mui-divider" style="margin: 20px 0;"></div>

        <div class="block3 mui-text-left">
            <strong class="qa" style="font-size: 24px;">Have a product</strong>
            <p class="a3">Let us sell</p>
            <p class="mui-text-justify description">
                Great!! you have a nice jugaadu product to be made available to numerous people in need.
                Here we also help people find customers for their products. Just let us know of the
                product and have your customers.
            </p>
        </div>

        <div class="mui-divider" style="margin: 20px 0;"></div>

        <div class="block4 mui-text-right">
            <strong class="qa" style="font-size: 24px;">None of them</strong>
            <p class="a4">You can still browse</p>
            <p class="mui-text-justify description">
                Here you have a nice opportunity to look at the jugaadu products that other people have
                come up with, till now. You can have a look at them and find out if some of them may
                come to your aid.
            </p>
        </div>

    </div>
</div>



<!-- Space -->
<div class="mui-row" class="bottom_space">
    &nbsp;
</div>


                <div class="mui-row">
                    <div class="mui-panel">
                        <strong class="qa" style="font-size: 24px;">What we do in all this ?</strong>

                        <div class="mui-divider" style="margin: 15px 0;"></div>

                            <p class="description mui-text-justify">
                                We, as mentioned above, bring your ideas to life so that they are no longer confined to the
                                walls of your brain. Nor are they limited by any constraints. In short you need not worry about
                                how to make a product of it.
                            </p>

                    </div>
                </div>
