<div class="mui-row">

    <div class="mui-panel">

        <div class="mui-row">
            <div class="mui-col-md-12 col-lg-12">
               <img src="img/success.png" style="width: 100%;height: auto;">
            </div>
        </div>
        <div class="mui-row" style="margin-top: 10px;">
            <div class="mui-col-md-12 col-lg-12">
        <p class="qa">Awesome Job </p>
        <p class="description">
            DoJugaad appreciate your contribution. Wait until we cook your recipe.
        </p>
            </div>
        </div>
    </div>
</div>

<div class="mui-row">
    <span class="center"><i class="mdi mdi-arrow-left">&nbsp;</i><a href="/" class="description">Back to Home</a></span>
</div>
