<html lang="en" ng-app="StarterApp">
<head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="css/admin.css"/>
    <link href="bower_components/mdi/css/materialdesignicons.min.css" rel="stylesheet"/>
</head>


<body layout="row" ng-controller="AppCtrl">

<!--md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>Firstname Lastname</div>
            <div>email@domainname.com</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in menu">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader>Management</md-subheader>
        <md-item ng-repeat="item in admin">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
    </md-list>
</md-sidenav-->



<div layout="column" class="relative" layout-fill role="main">
    <md-button class="md-fab md-fab-bottom-right" aria-label="Refresh" ng-click="fresh()">
        <ng-md-icon icon="refresh"></ng-md-icon>
    </md-button>

    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Dashboard
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex" style="height: 75px;">
            <md-tab id="tab1" aria-controls="tab1-content">
                Posts
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                Users
            </md-tab>
        </md-tabs>
    </md-toolbar>

    <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Back
            </h3>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="enter search">
            </md-input-container>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>



    <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
            <ng-switch on="data.selectedIndex" class="tabpanel-container">


                <div role="tabpanel"
                     id="tab1-content"
                     aria-labelledby="tab1"
                     ng-switch-when="0"
                     md-swipe-left="next()"
                     md-swipe-right="previous()"
                     layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <h2>Posts</h2>
                            <md-list>
                                <md-item ng-repeat="item in posts">
                                    <md-item-content>

                                        <div class="md-tile-content">

                                            <table style="width: 100%">
                                                <tr>
                                                    <td><h3 style="color: #212121;">{{item.title}}</h3></td>
                                                    <td><h4><i>Posted On: {{ item.timestamp }}</i></h4></td>
                                                </tr>

                                                <tr>
                                                   <td><h4>{{item.category}}</h4></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <h4><i><b>
                                                            {{item.description}}
                                                                </b>
                                                            </i>
                                                        </h4>
                                                    </td>
                                                </tr>

                                                <tr><td>
                                                       <h4>Posted by: <i>{{item.userName}}</i></h4>
                                                    </td></tr>
                                            </table>


                                            <md-button class="md-raised md-warn" ng-click="deletePost(item._id)"><i class="mdi mdi-delete"></i>Delete</md-button>
                                        </div>
                                    </md-item-content>
                                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                </md-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>




                <div role="tabpanel"
                     id="tab2-content"
                     aria-labelledby="tab2"
                     ng-switch-when="1"
                     md-swipe-left="next()"
                     md-swipe-right="previous()"
                     layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <h2>Users</h2>
                            <md-list>
                                <md-item ng-repeat="item in users">
                                    <md-item-content>
                                        <div class="md-tile-left inset" hide-sm>
                                            <!--user-avatar></user-avatar-->
                                            <img ng-src="{{ item.avatar }}" width="64" height="64"/>
                                        </div>
                                        <div class="md-tile-content">
                                            <h3>{{item.fullname}}</h3>
                                            <h4>{{item.profileid}}</h4>
                                            <h4>
                                                {{item.gender}}
                                            </h4>
                                            <h4>Joined on: <i>{{ item.timestamp }}</i></h4>
                                            <h4><i>{{ item.emailid }}</i></h4>
                                            <md-button class="md-raised md-warn" ng-click="deleteUser(item._id)"><i class="mdi mdi-delete"></i>Delete</md-button>
                                        </div>
                                    </md-item-content>
                                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                </md-item>
                                <md-divider></md-divider>

                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>

            </ng-switch>

        </ui-view>
    </md-content>
</div>
<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="js/admin_controller.js"></script>
</body>
</html>
