<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
    <script>
        document.write('<link href="css/animate.min.css" rel="stylesheet">');
        document.write('<link href="css/mui.min.css" rel="stylesheet" type="text/css" />');
        document.write('<link rel="stylesheet" href="css/sweet-alert.css" type="text/css" />');
        document.write('<link href="bower_components/mdi/css/materialdesignicons.min.css" rel="stylesheet"/>');
        document.write('<link href="css/app.min.css" rel="stylesheet"/>');
    </script>
    <title>DoJugaad | Problems</title>

</head>

<body class="holder" ng-controller="common">

<% include preloader %>
<% include header %>

<!-- Main Container-->
<div id="content-wrapper">
    <div id="appbar-placeholder" class="mui-appbar-height"></div>

    <div class="mui-container-fluid">

        <div class="mui-row">
            <!-- Left Margin -->
<!--             <div class="mui-col-md-2 mui-hidden-xs mui-hidden-sm"> -->
            <div class="mui-col-md-2 mui-hidden-xs mui-hidden-sm" style="height:100%">
            <div class="mui-panel">
                <button class="mui-btn mui-btn-primary mui-btn-raised">Technology</button>
            </div>
            <div class="mui-panel">
                <button class="mui-btn mui-btn-primary mui-btn-raised">Daily Life</button>
            </div>
            <div class="mui-panel">
                <button class="mui-btn mui-btn-primary mui-btn-raised">Art</button>
            </div>
            <div class="mui-panel">
                <button class="mui-btn mui-btn-primary mui-btn-raised">Other</button>
            </div>
            </div>
            <!-- End of Left Margin -->

            <!-- Center Content -->
            <div class="mui-col-md-8 mui-col-sm-12 mui-col-xs-12" ng-controller="probController">
                <div class="space-top"></div>
                <div ng-include="'breadcrumb.htm'"></div>
                <div class="mui-row">
                    <div class="mui-panel">
                    <p class="mui-text-center">
                        <h1 style="text-align:center">Problem title</h1>
                        <h4 style="text-align:center">Category : Technology</h4>
                        <h4 style="text-align:center">posted by : SomeUser</h4>
                    </p>
                    <br/>
                    <p class="description mui-text-justify">
                        This is a random problem description that is used to show how the actual problem description
                        will look like. This arrangement totally temporary and can be changed if does not appear to
                        be attractive and feasible.
                    </p>
                    <div style="text-align:center">
                        <a href="#">report Abuse</a>&nbsp;&nbsp;
                        <a href="/idea">Submit a solution</a>
                    </div>
                </div>
                </div>
            </div>
            <!-- End of Center Content-->

            <!-- Right Margin -->
            <div class="mui-col-md-2 mui-hidden-xs mui-hidden-sm"></div>
            <!-- End of Right Margin -->
        </div>

    </div>

</div>


<% include footer %>


<script src="js/jquery.min.js"></script>
<script src="js/mui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/sweet-alert.min.js"></script>
<script src="js/SweetAlert.js"></script>
<script src="js/application.js"></script>
<script src="js/pace.min.js"></script>

</body>
</html>