<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/app.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link href="bower_components/mdi/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/sweet-alert.css" type="text/css" />
    <!--link href="//cdn.muicss.com/mui-0.1.23/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.1.23/js/mui.min.js"></script-->
    <link href="css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="js/mui.min.js"></script>


</head>

<body class="holder">

<div id="content-wrapper">
<div id="appbar-placeholder" class="mui-appbar-height"></div>

    <div class="mui-container-fluid" ng-controller="mainController">
    <!--div class="mui-container" data-mui-fluid="true" ng-controller="mainController"-->

    <div class="mui-row">

        <div class="mui-col-md-4 mui-hidden-xs mui-hidden-sm"></div>

        <div class="mui-col-md-4">
            <div class="space-top"></div>
            <!--div class="mui-card"-->
              <form method="post" action="/push">
                  <div class="mui-form-group">
                      <textarea class="mui-form-control form-fonts" name="msg" id="msg" required></textarea>
                      <label class="mui-form-floating-label form-fonts">Message to send</label>
                  </div>
                  <button class="mui-btn abtn" data-mui-style="raised" style="background: #303F9F;color: #ffffff;" type="submit">
                      Submit
                  </button>
              </form>
         <!--/div-->
        </div>

        <div class="mui-col-md-4 mui-hidden-xs mui-hidden-sm"></div>

    </div>

</div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/mui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/sweet-alert.min.js"></script>
<script src="js/SweetAlert.js"></script>
<script src="js/test.js"></script>

</body>
</html>